<mat-card color="warn">
    <mat-card-content>
        <span class="times">{{min || "00"}} : {{sec || "00"}} . {{milli || "000"}}</span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="startTimer()">{{text}}</button>
        <button mat-raised-button color="accent" (click)="clearTimer()">Clear</button>
        <button mat-raised-button color="accent" [style.display]="text != 'Start' ? 'block':'none'" (click)="lapTimer()">Lap</button>
        
    </mat-card-actions>   
</mat-card>

<section>
    <div>
        <button mat-raised-button color="accent" (click)="saveLaps()">Save Laps</button>
        <button mat-raised-button color="accent" (click)="clearLaps()">Clear Laps</button>
    </div>
    <table mat-table [dataSource]="listLaps" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let lap"> {{lap.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> time </th>
          <td mat-cell *matCellDef="let lap"> {{lap.time}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>

  

